<table  id="table" class="table"  xmlns:th="http://www.thymeleaf.org"  th:attr="data-page=${pageJson}">
	<tr>
		<th style="width: 2em"></th>
		<th style="width: 40px"></th>
		<th>Name</th>
		<th class="text-center">Squad</th>
		<th class="text-center">Type</th>
		<th style="width: 4em"></th>
	</tr>

	
	<tr th:each="superhero: ${superheros}">
		<td></td>
		<td  style="width: 40px">
			<a th:href="${'/superhero/'+superhero.uuid}">
				<img class="avatar" th:src="${!#strings.isEmpty(superhero.avatar) ? superhero.avatar : links.cdn + '/img/avatar.png'}" />
			</a>		
		</td>
		<td>
			<a th:href="${'/superhero/'+superhero.uuid}" class="bold">
				<span class="s" th:text="${superhero.name}"></span>
			</a>
		</td>
		<td class="text-center">
			<img class="squad-img" th:if="${superhero.squad!=null and superhero.squad.name()=='MARVEL'}"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/330px-MarvelLogo.svg.png"></img>
			<img class="squad-img" th:if="${superhero.squad!=null and superhero.squad.name()=='DC'}"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/DC_Comics_logo.png/900px-DC_Comics_logo.png"></img>
			<span th:if="${superhero.squad!=null}" th:text="${superhero.squad.displayValue}" class="squad"></span>
		</td>
		<td class="text-center">
			<span th:text="${#bools.isTrue(superhero.villain) ? 'Villain' : 'Hero'}" class="type"></span>
		</td>
		<td></td>
	</tr>		
	
</table>