<div  xmlns:th="http://www.thymeleaf.review">

	<form action="/superhero">
		<div class="d-flex mb-3" >
			<div class="flex-1 mr-3">
				<label class="mb-0">&nbsp;</label>
				<div class="input-wrapper">
					<input type="text" id="q" class="em" name="q"  th:value="${filter.q}"></input>
					<i class="fas fa-search"></i>
				</div>
			</div>
			<div class="text-right flex-03 mr-3">
					<span class="text-light d-block label">Squad</span>
					<select name="role" class="select sleek" id="select-squad">
						<option></option>
						<option th:each="squad : ${T(org.einnovator.sample.superheros.model.Squad).values()}"
						 th:value="${squad}" th:text="${squad.displayValue}"
						 th:selected="${filter!=null and filter.squad==squad}"></option>
					</select>
			</div>
			<div class="text-right flex-03 mr-3">
				<span class="text-light d-block label">Type</span>
				<select name="villain" class="select sleek" id="select-squad">
					<option>Any</option>
					<option value="false">Hero</option>
					<option value="true">Villain</option>
				</select>
			</div>

			<div class="pt-4 d-none">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</form>

								
<script th:inline="javascript">
//<![CDATA[	
$(function() {
	$('#table').search({q:'#q', table:true, fields : ['s'], reload: true});
	$('#select-squad').change(function(ev) {
		$.reload({async: true, container: '#table'}, {q: $('#q').val(), squad: $(this).val(), async: true});
	});
});
//]]>
</script>				
</div>